.Todo-app__add {
    height: 61px;
    background: #2E2E2E;
    border-top: solid white 3px;
    border-radius: 0px 0px 12px 12px;
    padding: 15px 18px;
}

.Todo-app__input {
    width: 596px;
    height: 32px;
    border: none;
    color: #fff;
    padding: 8px 10px;
    background: #1A1A1A;
}

.Todo-app__button {
    width: 60px;
    height: 32px;
    background: #6FE774;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    border: none;
    transform: translateX(-2px);
}